{% extends '../layouts/app.twig' %}
{% block body %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Phone</th>
            <th>
                <a href="{{ app.url('create') }}" class="btn btn-secondary text-light float-right">Create</a>
            </th>
        </tr>
        </thead>
        <tbody>

        {% for people in peoples %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ people.name }}</td>
                <td>{{ people.surname }}</td>
                <td>{{ people.number }}</td>
                <td>
                    <div class="dropdown float-right">
                        <button class="btn " type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                            <i class="fa fa-bars fa-lg"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/edit/{{ people.id }}">Edit</a>
                            <form method="POST" action="/delete">
                                <button type="submit" class="dropdown-item" >Delete</button>
                            </form>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
